.cal_important {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background: url(cal_important.png) no-repeat;
}
.cal_normal {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background: url(cal_normal.png) no-repeat;
}